<header>
    {% include nav.html %}
    <section class="tophead-banner">
        <div class="container text-center tophead-content">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h2>Standards and tools to define, parse and link metadata</h2>
                    <div class="buttons">
                        <a href="#" class="btn btn-primary try-it-out-btn">Try It Out <i class="fas fa-expand"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<hr style="margin-top: 0;margin-bottom: 0px;">